<!-- footer begin -->
	<div class="footer_father">
		<div class="footer_one">
			<div class="footer_one_center">
				<div class="one_center_three"><i class="icon1">7</i>7天无理由退货</div>
	            <div class="one_center_three"><i class="icon2">15</i>质量问题15天换货</div>
	            <div class="one_center_three"><i class="icon3">包</i>满99元包邮</div>
			</div>
		</div>
		<div class="footer_two">
			<div class="footer_two_center">
				<dl class="two_center_dl">
	                <dt>帮助中心</dt>
	            
	                <dd><a href="">用户登录与密码找回</a></dd>
	                <dd><a href="">用户注册协议</a></dd>
	                <dd><a href="">购买指南</a></dd>
	                <dd><a href="">支付方式</a></dd>
	                <dd><a href="">配送与说明</a></dd>
	                <dd><a href="">用户注销</a></dd>
	            </dl>
	            <dl class="two_center_dl">
	                <dt>售后服务</dt>
	            
	                <dd><a href="">7日无理由退货</a></dd>
	                <dd><a href="">质量问题15日内换货</a></dd>
	                <dd><a href="">保修条款</a></dd>
	                <dd><a href="">售后服务运费规则</a></dd>
	            </dl>
	            <dl class="two_center_dl">
	                <dt>联系我们</dt>
	                <dd><span class="two_tebie">400-6822-360</span></dd>
	                <dd>
	                    周一至周日 9:00-18:00
	                </dd>
	                <dd><span class="two_tebie">400-0111-366</span></dd>
	                <dd>
	                    周一至周日 9:00-21:00<br>
	                    （仅收市话费）
	                </dd>
	            </dl>
			</div>
		</div>
		<div class="footer_three">
			<div>
				<p>牛逼商城©2018-2019 兄弟连CDsy1804版权所有</p>
			</div>
		</div>
	</div>
<!-- footer end -->
</body>
</html>