<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>360商城-首页</title>
	<link rel="stylesheet" href="./include/css/style.css">
	<link rel="stylesheet" href="./include/css/font.css">
	<link rel="stylesheet" href="./include/css/reg.css">
	<link rel="stylesheet" href="./include/css/order.css">
	<link rel="shortcut icon" href="./include/images/favicon.ico">
</head>
<body>
	<!-- 头部广告begin -->
	<div class="topbanner">
		<a href="#"><img src="../public/upload/sys/<?=$hd[0]['hengfu']?>" alt="" ></a>
	</div>
	<!-- 头部广告end -->
<!-- 头部公共部分 beigin -->
	<div class="topbox">
		<div class="topbox_center">
			<div class="topbox_left">
				<ul>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
				</ul>
				<ul>
					<li><img src="./include/images/phone.png" alt=""><a href="./index.php">手机360商城</a></li>
			<?php
				
				if (isset($_SESSION['suser']['username']) && $_SESSION['suser']['username'] == true) {
					echo '<li><a href="./index.php?m=logreg&a=logout">退出</a></li>';
					echo '<li><a href="./index.php?m=user&a=order" style="color:red;">欢迎您:【'.$_SESSION['suser']['username'].'】</a></li>';
				}else{
					echo '<li><a href="./index.php?m=logreg&a=reg">注册</a></li>';
					echo '<li><a href="./index.php?m=logreg&a=login">登录</a></li>';
				}
			?>
					
					
				</ul>
			</div>
		</div>
	</div>
	<!-- 头部logo部分 begin -->
	<div class="logobaise">
		<div class="toplogo">
		<!-- logo begin -->
			<div class="top_logo_left">
				<a href="./index.php"><img src="./include/images/logo.png" alt=""></a>
			</div>
		<!-- logo end -->
		<!-- search begin -->
			<div class="top_search">
				 <form action="./index.php?m=index&a=search" method="get">
	                    <input type="text"  value=""   class="sousuo" name="name">
	                    <input type="submit" value="" class="search_btn">
	                </form>             
			</div>
		<!-- search end -->

		<!-- 购物车beigin -->
			<div class="top_cart">
	                <a href="./index.php?m=cart&a=show" class="btn_cart"  style="z-index:100001">
	               	 <i></i>我的购物车<span class="cart-size">(0)</span>
	                </a>
	            </div>
		<!-- 购物车end -->
		</div>
	</div>
	<div class="nav">
		<div class="nav_nav">
			<ul class="nav_nav_ul">
				<li class="nav_one"><a href="./index.php">全部智能酷品</a>
