<!-- 头部公共部分 beigin -->
	<div class="topbox">
		<div class="topbox_center">
			<div class="topbox_left">
				<ul>
					<li><a href="#">帮助中心</a></li>
					<li><a href="#">收藏本站</a></li>
				</ul>
				<ul>
					<li><img src="./images/phone.png" alt=""><a href="#">手机360商城</a></li>
					<li><a href="#">我的订单</a></li>
					<li><a href="#">注册</a></li>
					<li><a href="#">登录</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 头部logo部分 begin -->
	<div class="toplogo">
	<!-- logo begin -->
		<div class="top_logo_left">
			<a href="/"><img src="./images/logo.png" alt=""></a>
		</div>
	<!-- logo end -->
	<!-- search begin -->
		<div class="top_search">
			 <form action="" method="get">
                    <input type="text"  value=""   class="sousuo" name="q">
                    <input type="submit" value="" class="search_btn">
                </form>
                <p class="key">
	                <a href="">N6 lite</a>
	                <a href="">儿童手表</a>
	                <a href="">N6</a>
	                <a href="">行车记录仪</a>
	                <a href="">摄像机夜视版</a>
                </p>                
		</div>
	<!-- search end -->

	<!-- 购物车beigin -->
		<div class="top_cart">
                <a href="" class="btn_cart"  style="z-index:100001">
               	 <i></i>我的购物车<span class="cart-size">(0)</span>
                </a>
                <div class="cart_bottom">
                    <div class="cart_bottom_center">请<a class="tip-login" href="">登录</a>后查看您的购物车。</div>
                    
                </div>
            </div>
	<!-- 购物车end -->
	</div>
	<div class="nav">
		<div class="nav_nav">
			<ul class="nav_nav_ul">
				<li class="nav_one"><a href="">全部智能酷品</a>
					
				</li>
				<li><a href="">手机</a>
				<!-- 导航下面弹出层begin -->
					<div class="nav_xiala">
		                <ul class="nav_xiala_ul">
		                    <li>
		                        <a href="#">
		                            <img src="./images/shouji.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>
		                     <li>
		                        <a href="#" >
		                            <img src="./images/shouji.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>
		                     <li>
		                        <a href="#" >
		                            <img src="./images/shouji.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>
		                     <li>
		                        <a href="#" >
		                            <img src="./images/shouji.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>  
		                     <li>
		                        <a href="#" >
		                            <img src="./images/shouji.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>  
		                     <li>
		                        <a href="#" >
		                            <img src="./images/shouji.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>                                
		                </ul>
                	</div>
					<!-- 导航下面弹出层end -->
				</li>
				<li><a href="">行车记录仪</a>
					<!-- 导航下面弹出层begin -->
					<div class="nav_xiala">
		                <ul class="nav_xiala_ul">
		                    <li>
		                        <a href="#">
		                            <img src="./images/tu.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>
		                     <li>
		                        <a href="#" >
		                            <img src="./images/tu.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>
		                     <li>
		                        <a href="#" >
		                            <img src="./images/tu.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>
		                     <li>
		                        <a href="#" >
		                            <img src="./images/tu.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>  
		                     <li>
		                        <a href="#" >
		                            <img src="./images/tu.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>  
		                     <li>
		                        <a href="#" >
		                            <img src="./images/tu.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>                                
		                </ul>
                	</div>
                	<!-- 导航下面弹出层end -->
				</li>
				<li><a href="">儿童手表</a>
				<!-- 导航下面弹出层begin -->
					<div class="nav_xiala">
		                <ul class="nav_xiala_ul">
		                    <li>
		                        <a href="#">
		                            <img src="./images/shoubiao.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>
		                     <li>
		                        <a href="#" >
		                            <img src="./images/shoubiao.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>
		                     <li>
		                        <a href="#" >
		                            <img src="./images/shoubiao.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>
		                     <li>
		                        <a href="#" >
		                            <img src="./images/shoubiao.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>  
		                     <li>
		                        <a href="#" >
		                            <img src="./images/shoubiao.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>  
		                     <li>
		                        <a href="#" >
		                            <img src="./images/shoubiao.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>                                
		                </ul>
                	</div>
                	<!-- 导航下面弹出层end -->
				</li>
				<li><a href="">摄像机</a>
				<!-- 导航下面弹出层begin -->
					<div class="nav_xiala">
		                <ul class="nav_xiala_ul">
		                    <li>
		                        <a href="#">
		                            <img src="./images/shexiangji.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>
		                     <li>
		                        <a href="#" >
		                            <img src="./images/shexiangji.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>
		                     <li>
		                        <a href="#" >
		                            <img src="./images/shexiangji.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>
		                     <li>
		                        <a href="#" >
		                            <img src="./images/shexiangji.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>  
		                     <li>
		                        <a href="#" >
		                            <img src="./images/shexiangji.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>  
		                     <li>
		                        <a href="#" >
		                            <img src="./images/shexiangji.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>                                
		                </ul>
                	</div>
                	<!-- 导航下面弹出层end -->
				</li>
				<li><a href="">路由器</a>
				<!-- 导航下面弹出层begin -->
					<div class="nav_xiala">
		                <ul class="nav_xiala_ul">
		                    <li>
		                        <a href="#">
		                            <img src="./images/luyouqi.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>
		                     <li>
		                        <a href="#" >
		                            <img src="./images/luyouqi.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>
		                     <li>
		                        <a href="#" >
		                            <img src="./images/luyouqi.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>
		                     <li>
		                        <a href="#" >
		                            <img src="./images/luyouqi.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>  
		                     <li>
		                        <a href="#" >
		                            <img src="./images/luyouqi.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>  
		                     <li>
		                        <a href="#" >
		                            <img src="./images/luyouqi.jpg"  class="" style="display: inline;">
		                             <span title="">N7 全网通 6+128GB 石墨黑色</span>
		                             <i data-skuid="7343295" data-price="y">9999.00</i>
		                        </a>
		                     </li>                                
		                </ul>
                	</div>
                	<!-- 导航下面弹出层end -->
				</li>
				<li><a href="">社区</a></li>
			</ul>
        </div>
	</div>
	<!-- 头部logo部分end -->
	
<!-- 头部公共部分end -->