<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>360商城-订单页</title>
	<link rel="stylesheet" href="./include/css/style.css">
	<link rel="stylesheet" href="./include/css/font.css">
	<link rel="stylesheet" href="./include/css/order.css">
	<link rel="shortcut icon" href="./include/images/favicon.ico">
</head>
<body>
	<!-- 头部广告begin -->
	<!-- <div class="topbanner">
		<a href="#"><img src="./include/images/topbanner.jpg" alt="" ></a>
	</div> -->
	<!-- 头部广告end -->
<!-- 头部公共部分 beigin -->
	<div class="topbox">
		<div class="topbox_center">
			<div class="topbox_left">
				<ul>
				</ul>
				<ul>
					<li><img src="./include/images/phone.png" alt=""><a href="./index.php">手机360商城</a></li>
			<?php
				if (isset($_SESSION['suser']['username']) && $_SESSION['suser']['username'] == true) {
					echo '<li><a href="./index.php?m=logreg&a=logout">退出</a></li>';
					echo '<li><a href="./index.php?m=user&a=order" style="color:red;">欢迎您:【'.$_SESSION['suser']['username'].'】</a></li>';
				}else{
					echo '<li><a href="./index.php?m=logreg&a=reg">注册</a></li>';
					echo '<li><a href="./index.php?m=logreg&a=login">登录</a></li>';
				}
			?>
				</ul>
			</div>
		</div>
	</div>
	<!-- 头部logo部分 begin -->
	<div class="logobaise">
		<div class="toplogo">
		<!-- logo begin -->
			<div class="top_logo_left" >
				<a href="./index.php"><img src="./include/images/logo.png" alt=""></a>
			</div>
		<!-- logo end -->
		<!-- search begin -->
			<div class="top_search">
				 <form action="./index.php?m=index&a=search" method="post">
	                    <input type="text"  value=""   class="sousuo" name="name">
	                    <input type="submit" value="" class="search_btn">
	                </form>              
			</div>
		<!-- search end -->

		<!-- 购物车beigin -->
			<div class="top_cart">
	                <a href="./index.php?m=cart&a=show" class="btn_cart"  style="z-index:100001">
	               	 <i></i>我的购物车<span class="cart-size"></span>
	                </a>
	                <div class="cart_bottom">
	                    <div class="cart_bottom_center">请<a class="tip-login" href="">登录</a>后查看您的购物车。</div>
	                    
	                </div>
	            </div>
		<!-- 购物车end -->
		</div>
	</div>
	<div class="nav">
		<div class="nav_nav">
			<ul class="nav_nav_ul">
				<li class="nav_one"><a href="./index.php">全部智能酷品</a>
				</li>
			</ul>
        </div>
	</div>
	<!-- 头部logo部分end -->
<!-- 头部公共部分end -->

<!-- 会员中心页面 begin -->
	<div class="user-body">
        <div class="user-container">
            <div class="user-container">
                <div class="user-crumbs m-b-10"><a href="/">首页</a> &gt;</div>
                <div class="clearfix_new">
                    <div class="user-menu m-r-20">
					    <div class="menu-title">个人中心</div>
					    <div class="menu-list">
					        <a class="menu-item coupon_menu-active" href="./index.php?m=user&a=info">个人信息管理</a>
					        <a class="menu-item item-active" href="./index.php?m=user&a=update">修改密码</a>
					        <a class="menu-item coupon_menu" href="./index.php?m=user&a=order">我的订单</a>
					    </div>
					</div>                    
				<div class="user-main" >
				<form action="./index.php?m=user&a=do_update" method="post">
				    <div class="order-main clearfix_new" style="min-height: 314px;">
				        <div class="consignee-add" style="display: block;">
				        <div class="add-row">
				            <label class="add-label" for="username">用户名</label>
				            <input  type="text" class="consignee-add-text" disabled value="<?=$result['username']?>">
				        </div>
				        <input type="hidden" name="uid" value="<?=$_SESSION['suser']['id']?>">
				        <div class="add-row">
				            <label class="add-label" for="username">密码</label>
				            <input name="pwd"  type="password" class="consignee-add-text"><span>&nbsp;&nbsp;不修改请留空</span>
				        </div>
				        <div class="add-row">
				            <label class="add-label" for="username">确认密码</label>
				            <input name="repwd"  type="password" class="consignee-add-text" ><span>&nbsp;&nbsp;不修改请留空</span>
				        </div>
				       
						</div>
						<input type="submit" class="submit-button" style="float:left;" value="确认修改">	       
				    </div>	 
				</div>
				</form>
               </div>
            </div>
        </div>
    </div>
<!-- 会员中心页面 end -->

