<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="./include/css/style.css" rel="stylesheet" type="text/css" />
<style>
    #level{
        width: 130px;
        height: 30px;

        line-height: 32px;
        border-top: solid 1px #a7b5bc;
        border-left: solid 1px #a7b5bc;
        border-right: solid 1px #ced9df;
        border-bottom: solid 1px #ced9df;
        background: url(..include/images/inputbg.gif) repeat-x;
        text-indent: 10px;
    }
    
</style>
</head>

<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a onclick="location.reload();">首页</a></li>
    <li><a href="#">添加行业</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>添加行业</span></div>
    <form action="./index.php?m=user&a=user_info_hangye" method="post">
        <ul class="forminfo">
        <li>
            <label>行业名称</label>
            <input name="hname" type="text" class="dfinput" />
            <i>长度2-8个字符</i>
        </li>
        
        
        <li>
            <label>&nbsp;</label>
            <input  type="submit" class="btn" value="确认添加"/></li>
        </ul>
    </form>
    <table class="tablelist" id="search">
      <thead>
      <tr>
        <th><input name="" type="checkbox" value="" checked="checked"/></th>
        <th>编号<i class="sort"><img src="./include/images/px.gif" /></i></th>
        <th>行业名称</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
<?php
if(is_array($result)){
    foreach($result as $v){
    echo '<tr>';
        echo '<td><input name="" type="checkbox" value="" /></td>';
        echo '<td>'.$v['hid'].'</td>';
        echo '<td>'.$v['hname'].'</td>';
        echo '<td><a href="index.php?m=user&a=user_info_hangye_update&id='.$v['hid'].'" class="tablelink">修改</a>     <a href="index.php?m=user&a=user_info_hangye_del&id='.$v['hid'].'" class="tablelink">删除</a></td>';
    echo '</tr>';
    }
}   
?>
        </tbody>
    </table>
    <div class="pagin">
      <?php echo $p->showPage(); ?>
    </div>   
    </div>
</body>
</html>
