<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="./include/css/style.css" rel="stylesheet" type="text/css" />
<style>
    #level{
        width: 130px;
        height: 30px;

        line-height: 32px;
        border-top: solid 1px #a7b5bc;
        border-left: solid 1px #a7b5bc;
        border-right: solid 1px #ced9df;
        border-bottom: solid 1px #ced9df;
        background: url(..include/images/inputbg.gif) repeat-x;
        text-indent: 10px;
    }
    
</style>
</head>

<body>

  <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a onclick="location.reload();">首页</a></li>
    <li><a href="#">修改行业</a></li>
    </ul>
    </div>
    
    <div class="formbody">
        <div class="formtitle"><span>修改行业</span></div>
        <form action="./index.php?m=user&a=user_info_hangye_doupdate" method="post">
            <ul class="forminfo">
            <li>
                <label>行业名称</label>
                <input type="hidden" name="id" value="<?=$_GET['id']?>" />
                <input name="hname" type="text" value="<?=$result['hname']?>" class="dfinput" />
                <i>长度2-8个字符</i>
            </li>
            
            
            <li>
                <label>&nbsp;</label>
                <input  type="submit" class="btn" value="确认修改"/></li>
            </ul>
        </form>  
    </div>
</body>
</html>
